In [1]:
import pandas as pd
import numpy as np
from pandas_profiling import ProfileReport
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier

In [2]:
df=pd.read_csv('Fraud_check.csv')
df

,Undergrad,Marital.Status,Taxable.Income,City.Population,Work.Experience,Urban
0,NO,Single,68833,50047,10,YES
1,YES,Divorced,33700,134075,18,YES
2,NO,Married,36925,160205,30,YES
3,YES,Single,50190,193264,15,YES
4,NO,Married,81002,27533,28,NO
...,...,...,...,...,...,...
595,YES,Divorced,76340,39492,7,YES
596,YES,Divorced,69967,55369,2,YES
597,NO,Divorced,47334,154058,0,YES
598,YES,Married,98592,180083,17,NO
599,NO,Divorced,96519,158137,16,NO

In [3]:
from pandas_profiling import ProfileReport
report=ProfileReport(df,title="EDA report of the fraud data",explorative=True)

In [4]:
report.to_widgets()

HBox(children=(HTML(value='Summarize dataset'), FloatProgress(value=0.0, max=19.0), HTML(value='')))

HBox(children=(HTML(value='Generate report structure'), FloatProgress(value=0.0, max=1.0), HTML(value='')))

HBox(children=(HTML(value='Render widgets'), FloatProgress(value=0.0, max=1.0), HTML(value='')))

VBox(children=(Tab(children=(Tab(children=(GridBox(children=(VBox(children=(GridspecLayout(children=(HTML(valu…

In [5]:
#creating the  dummy variable for the undergrad variable
dummies = pd.get_dummies(df['Undergrad']).rename(columns=lambda x: 'Undergrad_' + str(x))
# bring the dummies back into the original dataset
df = pd.concat([df, dummies], axis=1)
#now dropping the variable undergrad from the dataset after the insertion of its dummies.
df=df.drop('Undergrad',1)
df

,Marital.Status,Taxable.Income,City.Population,Work.Experience,Urban,Undergrad_NO,Undergrad_YES
0,Single,68833,50047,10,YES,1,0
1,Divorced,33700,134075,18,YES,0,1
2,Married,36925,160205,30,YES,1,0
3,Single,50190,193264,15,YES,0,1
4,Married,81002,27533,28,NO,1,0
...,...,...,...,...,...,...,...
595,Divorced,76340,39492,7,YES,0,1
596,Divorced,69967,55369,2,YES,0,1
597,Divorced,47334,154058,0,YES,1,0
598,Married,98592,180083,17,NO,0,1
599,Divorced,96519,158137,16,NO,1,0

In [6]:
#creating the dummy variables for the variable Marital.status
dummies = pd.get_dummies(df['Marital.Status']).rename(columns=lambda x: 'Marital.status_' + str(x))
# bring the dummies back into the original dataset
df = pd.concat([df, dummies], axis=1)
#now dropping the variable Marital.Status from the dataset after the insertion of its dummies.
df=df.drop('Marital.Status',1)
df

,Taxable.Income,City.Population,Work.Experience,Urban,Undergrad_NO,Undergrad_YES,Marital.status_Divorced,Marital.status_Married,Marital.status_Single
0,68833,50047,10,YES,1,0,0,0,1
1,33700,134075,18,YES,0,1,1,0,0
2,36925,160205,30,YES,1,0,0,1,0
3,50190,193264,15,YES,0,1,0,0,1
4,81002,27533,28,NO,1,0,0,1,0
...,...,...,...,...,...,...,...,...,...
595,76340,39492,7,YES,0,1,1,0,0
596,69967,55369,2,YES,0,1,1,0,0
597,47334,154058,0,YES,1,0,1,0,0
598,98592,180083,17,NO,0,1,0,1,0
599,96519,158137,16,NO,1,0,1,0,0

In [7]:
#CONVERTING THE VALUES OF TAXABLE.INCOME VARIABLE IN TO DIFFERENT CATEGORIES
row_indexes=df[df['Taxable.Income']>=30000].index
df.loc[row_indexes,'Taxable_income']="GOOD"
row_indexes=df[df['Taxable.Income']<=30000].index
df.loc[row_indexes,'Taxable_income']="RISKY"
#DROPING THE VARIABLE TAXABLE.INCOME VARIABLE AFTER THE INSERTION OF ITS CONVERTED VALUES IN DIFFERENT COLUMN
df=df.drop('Taxable.Income',1)
df

,City.Population,Work.Experience,Urban,Undergrad_NO,Undergrad_YES,Marital.status_Divorced,Marital.status_Married,Marital.status_Single,Taxable_income
0,50047,10,YES,1,0,0,0,1,GOOD
1,134075,18,YES,0,1,1,0,0,GOOD
2,160205,30,YES,1,0,0,1,0,GOOD
3,193264,15,YES,0,1,0,0,1,GOOD
4,27533,28,NO,1,0,0,1,0,GOOD
...,...,...,...,...,...,...,...,...,...
595,39492,7,YES,0,1,1,0,0,GOOD
596,55369,2,YES,0,1,1,0,0,GOOD
597,154058,0,YES,1,0,1,0,0,GOOD
598,180083,17,NO,0,1,0,1,0,GOOD
599,158137,16,NO,1,0,1,0,0,GOOD

In [8]:
colms = list(df.columns)
colms

['City.Population',
 'Work.Experience',
 'Urban',
 'Undergrad_NO',
 'Undergrad_YES',
 'Marital.status_Divorced',
 'Marital.status_Married',
 'Marital.status_Single',
 'Taxable_income']

In [9]:
colms[8:9]

['Taxable_income']

In [10]:
X = colms[:8]
Y = colms[8:9]
print(X)
Y

['City.Population', 'Work.Experience', 'Urban', 'Undergrad_NO', 'Undergrad_YES', 'Marital.status_Divorced', 'Marital.status_Married', 'Marital.status_Single']

['Taxable_income']

In [25]:
from sklearn import preprocessing
le=preprocessing.LabelEncoder()
for column_name in df.columns:
    if df[column_name].dtype == object:
        df[column_name] = le.fit_transform(df[column_name])
    else:
        pass

In [26]:
train,test=train_test_split(df,test_size=0.2)

In [27]:
rf = RandomForestClassifier(n_jobs=3,oob_score=True,n_estimators=15,criterion="entropy")

In [28]:
rf.fit(train[X],train[Y])

<ipython-input-28-a7a41d825067>:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  rf.fit(train[X],train[Y])
C:\Users\Anushka\anaconda3\lib\site-packages\sklearn\ensemble\_forest.py:540: UserWarning: Some inputs do not have OOB scores. This probably means too few trees were used to compute any reliable oob estimates.
  warn("Some inputs do not have OOB scores. "
C:\Users\Anushka\anaconda3\lib\site-packages\sklearn\ensemble\_forest.py:544: RuntimeWarning: invalid value encountered in true_divide
  decision = (predictions[k] /

RandomForestClassifier(criterion='entropy', n_estimators=15, n_jobs=3,
                       oob_score=True)

In [29]:
rf.estimators_

[DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=1528549859),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=1665287384),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=1343171662),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=928126779),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=478898725),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=1469031343),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=1917105265),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=360761255),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=1108798880),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=938604149),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=1556487972),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=491126639),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=1064910079),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=686464957),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=1182704870)]

In [31]:
rf.classes_

array([0, 1])

In [32]:
rf.n_classes_

2

In [33]:
rf.n_features_

8

In [35]:
rf.n_outputs_

1

In [36]:
pred=rf.predict(test[X])
pred

array([0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1,
       0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0])

In [38]:
rf.oob_score_

0.75

In [42]:
np.mean(pred==test.Taxable_income)

0.6666666666666666